body{
    background: #839695;
}
header{
    height: 83px;
    left: -2px;
    top: 0px;
    background: #112B3E;
}
main{

    left: 0px;
    top: 83px;
    background: #839695;
}
header a{
    text-decoration: none;
    position: absolute;
    width: 319px;
    height: 48px;
    left: 25px;
    top: 23px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #FFFFFF;
}

header a:hover {
    color: #FFFFFF;
}